web-service/src/main/java/com/epam/jmp/soap/client/HelloWorld.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://server.soap.jmp.epam.com" xmlns:impl="http://server.soap.jmp.epam.com"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!--WSDL created by Apache Axis version: 1.4
    Built on Apr 22, 2006 (06:55:48 PDT)-->
    <wsdl:types>
        <schema elementFormDefault="qualified" targetNamespace="http://server.soap.jmp.epam.com"
                xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="name" type="xsd:string"/>
            <element name="sayReturn" type="xsd:string"/>
        </schema>
    </wsdl:types>

    <wsdl:message name="sayRequest">

        <wsdl:part element="impl:name" name="name"/>

    </wsdl:message>

    <wsdl:message name="sayResponse">

        <wsdl:part element="impl:sayReturn" name="sayReturn"/>

    </wsdl:message>

    <wsdl:portType name="HelloWorld">

        <wsdl:operation name="say" parameterOrder="name">

            <wsdl:input message="impl:sayRequest" name="sayRequest"/>

            <wsdl:output message="impl:sayResponse" name="sayResponse"/>

        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="helloSoapBinding" type="impl:HelloWorld">

        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="say">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="sayRequest">

                <wsdlsoap:body use="literal"/>

            </wsdl:input>

            <wsdl:output name="sayResponse">

                <wsdlsoap:body use="literal"/>

            </wsdl:output>

        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="HelloWorldService">

        <wsdl:port binding="impl:helloSoapBinding" name="hello">

            <wsdlsoap:address location="http://localhost:8080//services/hello"/>

        </wsdl:port>

    </wsdl:service>

</wsdl:definitions>
